body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000; /* Ensure it's on top of other content */
  }
  
  #main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #main-nav li {
    float: left;
  }
  
  #main-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #main-nav li a:hover {
    background-color: #555;
  }
